<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Layout</title>
    <style type="text/css">
        <!--
        body {
            background: #fff;
            background-repeat: repeat;
        }
        -->
    </style>
</head>

<body leftmargin="0" rightmargin="0" topmargin="0" bottommargin="0" marginheight="0" marginwidth="0">
    @RenderBody()
</body>
</html>