
@{
    ViewBag.Title = "ManageProfile";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

<!-- Manage profile Content -->
<section class="manageprofile">
    <h1>About Information</h1>
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id ultricies lorem. Donec mattis ornare eros,
                        eget hendrerit est porttitor nec. Aenean tristique massa vel nunc lobortis venenatis. Integer sit amet faucibus dolor,
                        vitae iaculis ex. Sed blandit libero ut ante facilisis, ac imperdiet nibh mollis. Suspendisse eget leo suscipit, malesuada metus at,
                        semper libero. Aliquam neque libero, fermentum id bibendum eu, feugiat consequat leo. Vestibulum ut purus et libero pulvinar mollis.
                        Morbi dapibus varius ipsum eu tristique. Donec tortor justo, tincidunt malesuada nunc sed, ornare viverra eros. Nullam et massa ultrices,
                        vulputate neque at, blandit velit. Nunc ultricies at quam vitae tempor. Quisque maximus fringilla arcu, vel sollicitudin dui luctus ac.
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id ultricies lorem. Donec mattis ornare eros,
                        eget hendrerit est porttitor nec. Aenean tristique massa vel nunc lobortis venenatis. Integer sit amet faucibus dolor,
                        vitae iaculis ex. Sed blandit libero ut ante facilisis, ac imperdiet nibh mollis. Suspendisse eget leo suscipit, malesuada metus at,
                        semper libero. Aliquam neque libero, fermentum id bibendum eu, feugiat consequat leo. Vestibulum ut purus et libero pulvinar mollis.
                        Morbi dapibus varius ipsum eu tristique. Donec tortor justo, tincidunt malesuada nunc sed, ornare viverra eros. Nullam et massa ultrices,
                        vulputate neque at, blandit velit. Nunc ultricies at quam vitae tempor. Quisque maximus fringilla arcu, vel sollicitudin dui luctus ac.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- manage Profile Content -->
<!-- Manage profile Content -->
<section class="location-detail">
    <h1>Location Detail</h1>
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 contact-detail">
                    <img src="images/location.png" alt="" title="" />
                    <a href="#">Mailgoeshere@gmail.com</a>
                    <a href="#">+0 000 000 0000</a>
                    <span>Washington, D.C., The United States Of America</span>
                </div>
                <div class="col-md-4 contact-detail">
                    <img src="images/location.png" alt="" title="" />
                    <a href="#">Mailgoeshere@gmail.com</a>
                    <a href="#">+0 000 000 0000</a>
                    <span>Washington, D.C., The United States Of America</span>
                </div>
                <div class="col-md-4 contact-detail">
                    <img src="images/location.png" alt="" title="" />
                    <a href="#">Mailgoeshere@gmail.com</a>
                    <a href="#">+0 000 000 0000</a>
                    <span>Washington, D.C., The United States Of America</span>
                </div>
                <div class="col-md-4 contact-detail">
                    <img src="images/location.png" alt="" title="" />
                    <a href="#">Mailgoeshere@gmail.com</a>
                    <a href="#">+0 000 000 0000</a>
                    <span>Washington, D.C., The United States Of America</span>
                </div>
                <div class="col-md-4 contact-detail">
                    <img src="images/location.png" alt="" title="" />
                    <a href="#">Mailgoeshere@gmail.com</a>
                    <a href="#">+0 000 000 0000</a>
                    <span>Washington, D.C., The United States Of America</span>
                </div>
                <div class="col-md-4 contact-detail">
                    <img src="images/location.png" alt="" title="" />
                    <a href="#">Mailgoeshere@gmail.com</a>
                    <a href="#">+0 000 000 0000</a>
                    <span>Washington, D.C., The United States Of America</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- manage Profile Content -->
<!-- Manage profile Content -->
<section class="manageprofile grey-bg">
    <h1>Staff Detail</h1>
    <div class="container">
        <div class="col-md-12">
            <div class="row">

                <div class="teacher-box col-md-4">
                    <img src="images/teacher01.jpg" alt="" title="">
                    <div class="teacher-name">
                        <a href="#">Name of the Teacher</a>
                        <label>Chif Professor</label>
                    </div>
                </div>
                <div class="teacher-box col-md-4">
                    <img src="images/teacher01.jpg" alt="" title="">
                    <div class="teacher-name">
                        <a href="#">Name of the Teacher</a>
                        <label>Chif Professor</label>
                    </div>
                </div>
                <div class="teacher-box col-md-4">
                    <img src="images/teacher01.jpg" alt="" title="">
                    <div class="teacher-name">
                        <a href="#">Name of the Teacher</a>
                        <label>Chif Professor</label>
                    </div>
                </div>

                <div class="teacher-box col-md-4">
                    <img src="images/teacher01.jpg" alt="" title="">
                    <div class="teacher-name">
                        <a href="#">Name of the Teacher</a>
                        <label>Chif Professor</label>
                    </div>
                </div>
                <div class="teacher-box col-md-4">
                    <img src="images/teacher01.jpg" alt="" title="">
                    <div class="teacher-name">
                        <a href="#">Name of the Teacher</a>
                        <label>Chif Professor</label>
                    </div>
                </div>
                <div class="teacher-box col-md-4">
                    <img src="images/teacher01.jpg" alt="" title="">
                    <div class="teacher-name">
                        <a href="#">Name of the Teacher</a>
                        <label>Chif Professor</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- manage Profile Content -->
<!-- Manage profile Content -->
<section class="manageprofile">
    <h1>Details about facilitate</h1>
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id ultricies lorem. Donec mattis ornare eros,
                        eget hendrerit est porttitor nec. Aenean tristique massa vel nunc lobortis venenatis. Integer sit amet faucibus dolor,
                        vitae iaculis ex. Sed blandit libero ut ante facilisis, ac imperdiet nibh mollis. Suspendisse eget leo suscipit, malesuada metus at,
                        semper libero. Aliquam neque libero, fermentum id bibendum eu, feugiat consequat leo. Vestibulum ut purus et libero pulvinar mollis.
                        Morbi dapibus varius ipsum eu tristique. Donec tortor justo, tincidunt malesuada nunc sed, ornare viverra eros. Nullam et massa ultrices,
                        vulputate neque at, blandit velit. Nunc ultricies at quam vitae tempor. Quisque maximus fringilla arcu, vel sollicitudin dui luctus ac.
                    </p>
                </div>
                <div class="col-md-6">
                    <ul class="facilities">
                        <li>Laibrary - All kind of book</li>
                        <li>Travelling - Pick up our bus and drop also</li>
                        <li>All type of practical material</li>
                        <li>1 hr break time</li>
                        <li>Laibrary - All kind of book</li>
                        <li>Travelling - Pick up our bus and drop also</li>
                        <li>All type of practical material</li>
                        <li>1 hr break time</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- manage Profile Content -->
<!-- Why EduGatenet? Content -->
<section class="grey-bg teachers">

    <div class="why-edugrant" id="pliip">
        <h1>Why EduGatenet?</h1>
        <div class="container">
            <div class="row">
                <div id="news-slider2" class="owl-carousel">
                    <div class="post-slide2">
                        <div class="why-img">
                            <img src="images/why01.png" alt="" title="">
                        </div>
                        <div class="why-desc">
                            <h4>Customized learning</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam remam.</p>
                        </div>
                    </div>
                    <div class="post-slide2">
                        <div class="why-img">
                            <img src="images/why02.png" alt="" title="">
                        </div>
                        <div class="why-desc">
                            <h4>Near by You</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam remam.</p>
                        </div>
                    </div>
                    <div class="post-slide2">
                        <div class="why-img">
                            <img src="images/why03.png" alt="" title="">
                        </div>
                        <div class="why-desc">
                            <h4>Anytime, Anywhere</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam remam.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- Why EduGatenet? Content -->