
@{
    ViewBag.Title = "Teachers";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

<!-- Teacher page -->
<div class="teacher-page">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="filter_option">
                    <img src="~/images/teacher/teacher-1.jpg" alt="" title="">
                    <span class="filter-title">Teacher type</span>
                </div>
            </div>

            <div class="col-md-2">
                <div class="filter_option">
                    <img src="~/images/teacher/teacher-2.jpg" alt="" title="">
                    <span class="filter-title">From</span>
                </div>
            </div>

            <div class="col-md-2">
                <div class="filter_option">
                    <img src="~/images/teacher/teacher-3.jpg" alt="" title="">
                    <span class="filter-title">Hourly rate</span>
                </div>
            </div>

            <div class="col-md-2">
                <div class="filter_option">
                    <img src="~/images/teacher/teacher-4.jpg" alt="" title="">
                    <span class="filter-title">Teacher speaks</span>
                </div>
            </div>

            <div class="col-md-2">
                <div class="filter_option">
                    <img src="~/images/teacher/teacher-5.jpg" alt="" title="">
                    <span class="filter-title">Advanced/Native</span>
                </div>
            </div>

            <div class="col-md-2">
                <div class="filter_option">
                    <img src="~/images/teacher/teacher-6.jpg" alt="" title="">
                    <span class="filter-title">Skills</span>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end -->
<div class="teacher-details-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>We found 800 teachers</p>
            </div>

            <div class="col-lg-9">
                <div class="teacher-card-container">
                    <div class="teacher-card-left">
                        <img class="teacher-card-teacher-type" src="~/images/teacher/professional-teacher.png" alt="" title="">

                        <div class="teacher-card-avatar">
                            <img src="~/images/teacher/teacher-img.png" alt="" title="">
                            <div class="teacher-card-rating">
                                <div class="teacher-card-rating-stars">
                                    <img src="~/images/teacher/teacher-reting-star.png" alt="" title="">
                                    <p class="hidden-xs teacher-lessons">294 Lessons</p>
                                </div>
                            </div>

                        </div>

                        <div class="teacher-card-content">
                            <h3>Barbara</h3>
                            <div class="teacher-card-teaches">
                                <p>Teaches</p>
                                <h6>English</h6>
                                <p>Also Speak</p>
                                <div class="half"><b>French</b></div>
                                <div class="half"><b>Spanish</b></div>
                                <div class="half">
                                    <p>Hourly rate from</p>
                                    <h6>$26.00</h6>
                                </div>
                                <div class="half">
                                    <p>30 min trial</p>
                                    <h6>$18.00</h6>
                                </div>
                            </div>
                            <div class="teacher-card-favorite-teacher"><img src="~/images/teacher/heart-empty.svg"></div>
                        </div>
                    </div>


                    <div class="hidden-xs teacher-card-right">
                        <div class="tabbable-panel">
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs ">
                                    <li class="active">
                                        <a href="#tab_default_1" data-toggle="tab">
                                            Availability
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab_default_2" data-toggle="tab">
                                            Video
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab_default_3" data-toggle="tab">
                                            Intro
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_default_1">
                                        <p>
                                            Availability
                                        </p>
                                        <p>
                                            Duis autem eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
                                        </p>

                                    </div>
                                    <div class="tab-pane" id="tab_default_2">
                                        <p>
                                            Video
                                        </p>
                                        <p>
                                            Video Coming Soon...
                                        </p>

                                    </div>
                                    <div class="tab-pane" id="tab_default_3">
                                        <p>
                                            Intro
                                        </p>
                                        <p>
                                            Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end teacher listing -->

                <div class="teacher-card-container">
                    <div class="teacher-card-left">
                        <img class="teacher-card-teacher-type" src="~/images/teacher/professional-teacher2.png" alt="" title="">

                        <div class="teacher-card-avatar">
                            <img src="~/images/teacher/teacher-img.png" alt="" title="">
                            <div class="teacher-card-rating">
                                <div class="teacher-card-rating-stars">
                                    <img src="~/images/teacher/teacher-reting-star.png" alt="" title="">
                                    <p class="hidden-xs teacher-lessons">294 Lessons</p>
                                </div>
                            </div>

                        </div>

                        <div class="teacher-card-content">
                            <h3>Teacher Name Here</h3>
                            <div class="teacher-card-teaches">
                                <p>Teaches</p>
                                <h6>English</h6>
                                <p>Also Speak</p>
                                <div class="half"><b>French</b></div>
                                <div class="half"><b>Spanish</b></div>
                                <div class="half">
                                    <p>Hourly rate from</p>
                                    <h6>$26.00</h6>
                                </div>
                                <div class="half">
                                    <p>30 min trial</p>
                                    <h6>$18.00</h6>
                                </div>
                            </div>
                            <div class="teacher-card-favorite-teacher"><img src="~/images/teacher/heart-empty.svg"></div>
                        </div>
                    </div>


                    <div class="hidden-xs teacher-card-right">
                        <div class="tabbable-panel">
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs ">
                                    <li class="active">
                                        <a href="#tab_default_4" data-toggle="tab">
                                            Availability
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab_default_5" data-toggle="tab">
                                            Video
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab_default_6" data-toggle="tab">
                                            Intro
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_default_4">
                                        <p>
                                            Availability
                                        </p>
                                        <p>
                                            Duis autem eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
                                        </p>

                                    </div>
                                    <div class="tab-pane" id="tab_default_5">
                                        <p>
                                            Video
                                        </p>
                                        <p>
                                            Video Coming Soon...
                                        </p>

                                    </div>
                                    <div class="tab-pane" id="tab_default_6">
                                        <p>
                                            Intro
                                        </p>
                                        <p>
                                            Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end teacher listing -->


                <div class="teacher-card-container">
                    <div class="teacher-card-left">
                        <img class="teacher-card-teacher-type" src="~/images/teacher/professional-teacher.png" alt="" title="">

                        <div class="teacher-card-avatar">
                            <img src="~/images/teacher/teacher-img.png" alt="" title="">
                            <div class="teacher-card-rating">
                                <div class="teacher-card-rating-stars">
                                    <img src="~/images/teacher/teacher-reting-star.png" alt="" title="">
                                    <p class="hidden-xs teacher-lessons">294 Lessons</p>
                                </div>
                            </div>

                        </div>

                        <div class="teacher-card-content">
                            <h3>Teacher Name Here</h3>
                            <div class="teacher-card-teaches">
                                <p>Teaches</p>
                                <h6>English</h6>
                                <p>Also Speak</p>
                                <div class="half"><b>French</b></div>
                                <div class="half"><b>Spanish</b></div>
                                <div class="half">
                                    <p>Hourly rate from</p>
                                    <h6>$26.00</h6>
                                </div>
                                <div class="half">
                                    <p>30 min trial</p>
                                    <h6>$18.00</h6>
                                </div>
                            </div>
                            <div class="teacher-card-favorite-teacher"><img src="~/images/teacher/heart-empty.svg"></div>
                        </div>
                    </div>


                    <div class="hidden-xs teacher-card-right">
                        <div class="tabbable-panel">
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs ">
                                    <li class="active">
                                        <a href="#tab_default_7" data-toggle="tab">
                                            Availability
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab_default_8" data-toggle="tab">
                                            Video
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab_default_9" data-toggle="tab">
                                            Intro
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_default_7">
                                        <p>
                                            Availability
                                        </p>
                                        <p>
                                            Duis autem eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
                                        </p>

                                    </div>
                                    <div class="tab-pane" id="tab_default_8">
                                        <p>
                                            Video
                                        </p>
                                        <p>
                                            Video Coming Soon...
                                        </p>

                                    </div>
                                    <div class="tab-pane" id="tab_default_9">
                                        <p>
                                            Intro
                                        </p>
                                        <p>
                                            Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end teacher listing -->

            </div>


            <div class="col-lg-3">
                <div class="teacher-right-holder">
                    <img src="images/teacher/Satisfaction_Guarantee_icon.svg" alt="" title="">
                    <h6>100% Satisfaction Guarantee</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>

                <div class="teacher-right-holder">
                    <h6>Tips for new students</h6>
                    <ul>
                        <li>
                            What are italki Credits?
                        </li>
                        <li>How to find the right teacher on italki? </li>
                        <li>How do I schedule a lesson with an italki teacher? </li>
                        <li>
                            It's my first italki lesson! What should I do?
                        </li>
                    </ul>
                </div>

                <div class="teacher-right-holder">

                    <h6>Want to be a teacher?</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>

            </div>


        </div>
    </div>
</div>
<!-- end -->

<section class="grey-bg teachers">

    <div class="why-edugrant" id="pliip">
        <h1>Why EduGatenet?</h1>
        <div class="container">
            <div class="row">
                <div id="news-slider2" class="owl-carousel">
                    <div class="post-slide2">
                        <div class="why-img">
                            <img src="images/why01.png" alt="" title="">
                        </div>
                        <div class="why-desc">
                            <h4>Customized learning</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam remam.</p>
                        </div>
                    </div>
                    <div class="post-slide2">
                        <div class="why-img">
                            <img src="images/why02.png" alt="" title="">
                        </div>
                        <div class="why-desc">
                            <h4>Near by You</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam remam.</p>
                        </div>
                    </div>
                    <div class="post-slide2">
                        <div class="why-img">
                            <img src="images/why03.png" alt="" title="">
                        </div>
                        <div class="why-desc">
                            <h4>Anytime, Anywhere</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam remam.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- Why EduGatenet? Content -->
