@model List<SchoolMS.Models.ViewModels.MaterialDownloadList>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">Title</th>
            <th class="text-center">Grade</th>
            <th class="text-center">Subject</th>
            <th class="text-center">Download</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <span class="Title">@item.Title</span>
                    </td>
                    <td>
                        <span class="Title">@item.GradeName</span>
                    </td>
                    <td>
                        <span class="Title">@item.SubjectName</span>
                    </td>
                    <td style="text-align:center">
                        <span>
                            <a href="/Teacher/Download?FilePath=@item.Path" class="btn btn-default"><i class="fa fa-download"></i> @item.Title</a>
                        </span>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">No materials found</td>
            </tr>
        }
    </tbody>
</table>