@using SchoolMS.Models
    
@{
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
    ViewBag.Title = "Home Page";
}

<style>
    /* Shared */
    .loginBtn {
        box-sizing: border-box;
        position: relative;
        /* width: 13em;  - apply for fixed size */
        margin: 0.2em;
        padding: 0 15px 0 46px;
        border: none;
        text-align: left;
        line-height: 34px;
        white-space: nowrap;
        border-radius: 0.2em;
        font-size: 16px;
        color: #FFF;
    }
</style>

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>*@
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

    @if (!SchoolMS.Common.ApplicationSession.Current.IsLoggedIn)
    {
    <ul class="nav navbar-nav pull-right">
        <li style="margin-top: 5px;">
            @Html.Partial("~/Views/Account/_ExternalLoginsListPartial.cshtml", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </li>
    </ul>
    }
    @if (SchoolMS.Common.ApplicationSession.Current.IsLoggedIn)
    {
        <ul class="nav navbar-nav pull-right" style="color:white;">
            <li><a href="#">Welcome, @SchoolMS.Common.ApplicationSession.Current.UserName</a></li>
            <li>
                <form action="/Account/LogOff" method="post">
                    @Html.AntiForgeryToken()
                    <input type="submit" class="" value="Sign Out" />
                </form>
            </li>
        </ul>
    }
</div>